@page
@model ServiceExchange.WebUI.Pages.Profile.Index

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Localizer["Profile"]</title>
</head>
<body>
<div>
    <p><pre><code class="language-js">@ViewData["ApiResult"]</code></pre></p>
</div>
</body>
</html>