@page
@model ServiceExchange.WebUI.Pages.Profile.Index
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>

<html>
<head>
    <title>@Localizer["Profile"]</title>
</head>
<body>
<div>
    <p><pre><code class="language-js">@ViewData["user"]</code></pre></p>
</div>
<div>
    <h1>@ViewData["name"]</h1>
    <h1>@ViewData["birthDate"]</h1>
</div>
</body>
</html>