@page
@model ServiceExchange.WebUI.Pages.Categories.Index
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="container">
<h2>@Localizer["Categories"]</h2>
<div class="row justify-content-around">
@if(Model.CategoriesList.Categories.Any())
{
    int counter = 0;
    @foreach(var category in Model.CategoriesList.Categories)
    {
        if (counter >= 3)
        {
            counter = 0;
            @:</div><div class="row justify-content-around">
        }
        <div class="card col-3">
            <img src="@category.ImagePath" class="card-img-top" alt="categoryImage">
            <div class="card-body">
                <h5 class="card-title">@category.Title</h5>
                <p class="card-text">@category.Description</p>
                <a href="#" class="btn btn-primary">View tasks</a>
            </div>
        </div>
        counter++;
    }
}
else
{
    <p>No categories found.</p>
}
</div>
</div>